body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* The success message box*/
.success {
    padding: 20px;
    background-color: #32CD32; /* Green */
    color: white;
    margin-bottom: 15px;
}

/* The tip/mistake message box */
.tip {
    padding: 20px;
    background-color: #DAA520;
    color: white;
    margin-bottom: 15px;
}

/* The error message box */
.error {
    padding: 20px;
    background-color: #f44336; 
    color: white;
    margin-bottom: 15px;
}

.marketFeed {
    padding: 5px;
    background-color: #20b2aa;
    color: white;
    margin-bottom: 15px;
}

/* The close button of error/tip/success message box */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.top-space {
    margin-top: 40px
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
