@{
	ViewData["Title"] = "MarketYard Hitory Purhcase";
}

<h2>@ViewData["Title"]</h2>


<div class="row top-space">
	<div class="col-lg-12">
		<div id="feedContainer" style="float: right;width:20%"></div>
		<div style="float: left;width:70%">
			<div id="alertContainer">

				@if (Model.Message != null)
		{
			<div class='error'>
				<span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
				@Model.Message
			</div>
}
			<fieldset>
				Choose: <select ID ="Options" name="Options">

					<option value=""></option>

					<option value="0">Store</option>

					<option value="1">User</option>

				</select>
			</fieldset>

			</div>
			@using (Html.BeginForm("AdminViewPurchaseHistory", "Admin", new { Model.SystemId }))
			{
			<br />
			<input type="text" class="form-control" id="store-user-name" name="viewSubject" />
			<br />
			<input type="submit" class="btn btn-primary">

			}

		</div>

			</div>

		</div>


@section Scripts{
	<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>



}
