<br/>
<br/>
<br/>
@{
    ViewData["Title"] = "Add New Lottery Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row top-space">
	<div class="col-lg-10">
		<div id="feedContainer" style="float: right;width:20%">
			<br />
		</div>
		<div style="float: left;width:30%">
			<div id="alertContainer">
				@if (Model.Message != null)
		{
			<div class='error'>
				<span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
				@Model.Message
			</div>
}
			</div>
			@using (Html.BeginForm("AddNewLottery", "StoreManagement", new { Model.SystemId, Model.State, store = Model.Name }))
	{
		<label for="user-name-entry">Name:</label>
		<input type="text" class="form-control" id="user-name-entry" name="product" />
		<label for="product-price">Price:</label>
		<input class="form-control" id="product-price" name="price" />
		<label for="product-description">Description:</label>
		<input class="form-control" id="product-description" name="description" />
		<label for="product-quantity">StartDate:</label>
		<input class="form-control" id="product-startDate" name="startDate" />
		<label for="product-quantity">EndDate:</label>
		<input class="form-control" id="product-endDate" name="endDate" />
		<br />
		<input type="submit" class="btn btn-primary" value="Add">

}

		</div>
	</div>
</div>


@section Scripts{
	<script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}


