
@{
    ViewData["Title"] = "Sign In";
}

<h2>@ViewData["Title"]</h2>
<hr/>
<div class="row top-space">
    <div class="col-lg-10">
        <div id="feedContainer" style="float: right;width:20%">
            <br />
        </div>
        <div style="float: left;width:30%">
            <div id="alertContainer">
                @if (Model.Message != null)
                {
                    <div class='error'>
                        <span class='closebtn' onclick="this.parentElement.style.display = 'none';">&times;</span>
                        @Model.Message
                    </div>
                }
            </div>
            @using (Html.BeginForm("SubmitSignIn", "Home", new { Model.SystemId}))
            {
                <label for="user-name-entry">Username:</label>
                <input type="text" class="form-control" id="user-name-entry" name="usernameEntry"/>
                <label for="user-password-entry">Password:</label>
                <input class="form-control" id="user-password-entry" name="passwordEntry" />
                <br/>
                <input type="submit" class="btn btn-primary" value="Login">

            }

        </div>
    </div>
</div>


@section Scripts{
    <script data-main="scripts/main" src="https://rawgit.com/radu-matei/websocket-manager/master/src/WebSocketManager.Client.TS/dist/WebSocketManager.js"></script>
}